/**
 * Widget style file
 * @author - Faizal
 * @date - 19th June 2024
 */
.counter-widget-container {
    background: #fff;
    padding: 12px;
    border-radius: 4px;
}
.counter-widget-container .counter-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.counter-widget-container .counter-title {
    font-size: 11px;
}
.counter-widget-container .counter-subtitle {
    font-size: 14px;
    font-weight: bold;
}
.widget-title-container {
    width: 100%;
    border-bottom: 1px solid #ecf0f1;
    margin-bottom: 16px;
}
.widget-title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.widget-subtitle {
    font-size: 11px;
    text-align: left;
    padding-bottom: 8px;
    color: #7f8c8d;
}