/**
 * Dashboard style file
 * @author - Faizal 
 * @date - 19th June 2024
 */
.table-header {
    font-size: 10px;
    font-weight: bold;
    padding: 4px 12px;
    background-color: #f9f8fa;
    flex: 1;
}
.table-row {
    font-size: 10px;
    font-weight: normal;
    padding: 8px 12px;
    border-bottom: none;
    background-color: #fff;
    border: 1px solid #eff0f3;
    margin: 8px 0;
    transition: all linear 0.5s;
    width: 100%;
}
.table-row:hover {
   background-color: #f9f8fa;
   border: 1px solid #f9f8fa;
   cursor: pointer;
}

@media only screen and (max-width: 664px) {
    .mobile-table-row-box {
        margin-bottom: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        border-radius: 8px;
        padding: 0;
        overflow: hidden;
    }
    .mobile-table-row {
        display: flex;
        border-radius: 4px;
        flex-direction: row;
        flex: 1;
        width: 100%
    }
    .mobile-table-row-label {
        background: #95a5a6;
        color: #fff;
        width: 40%;
        padding: 4px 8px;
        border-bottom: 1px solid #fff;
        display: flex;
        align-items: center;
    }
    .mobile-table-row-value {
        padding: 4px 8px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ecf0f1;
        flex: 1
    }
    .actions-items {
        background-color: #3498db;
        color: #fff;
        border-radius: 0 0 4px 4px;
    }
    .actions-items a, .actions-items .link {
        color: #fff;
    }
  }