/**
 * App style file
 * @author - Faizal
 * @date - 12th June 2024
 */
 .left-layout {
   position: relative;
 }
 .right-layout {
   flex: 1;
   background-color: #f5f6fa;
 }
 .body-content {
  padding: 16px 16px;
 }